*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
}
.fir_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.fir_container .box1{
    color: gray;
}
.sec_container{
   width: 100%;
}
.sub_cont1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.blog_post{
    width: 49%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray, -2px -2px 8px gray ;
    padding: 10px;
    height: 190px;

}
.blog_heading_color{
    color: blue;
    font-weight: 100;
}
.post_title{
    width: 49%;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray, -2px -2px 8px gray ;
    padding: 10px;
    height: 190px;
}
.post_heading_color{
    color: green;
    font-weight: 100;
}
.sub_cont2{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.sub_cont3{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.sec_container p{
    line-height: 1.6;
}
.blog_anchor{
    color: blue;
}
.post_anchor{
    color: blue;
    margin-bottom: 10px;
}